slnMPIPHP/MPIPHPWebClient/Reports/XSD Definition/rptIAPAnnualAllocationSummary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rpIAPAnnualAllocationSummaryReport"
    targetNamespace="http://tempuri.org/rpt945.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rpt945.xsd"
    xmlns:mstns="http://tempuri.org/rpt945.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="allocation_year" type="xs:int" />
        <xs:element name="prev_year_ending_balance" type="xs:decimal" />
        <xs:element name="system_beg_balance" type="xs:decimal" />
        <xs:element name="open_bal_adjustments" type="xs:decimal" />
        <xs:element name="forfeiture_amount" type="xs:decimal" />
        <xs:element name="late_alloc1_amount" type="xs:decimal" />
        <xs:element name="late_alloc2_amount" type="xs:decimal" />
        <xs:element name="late_alloc3_amount" type="xs:decimal" />
        <xs:element name="late_alloc4_amount" type="xs:decimal" />
        <xs:element name="late_alloc5_amount" type="xs:decimal" />
        <xs:element name="late_alloc_amount" type="xs:decimal" />
        <xs:element name="quarterly_allocations" type="xs:decimal" />
        <xs:element name="ry_allocation2" type="xs:decimal" />
        <xs:element name="ry_allocation4" type="xs:decimal" />
        <xs:element name="payouts" type="xs:decimal" />
        <xs:element name="un_allocable_balance" type="xs:decimal" />
        <xs:element name="net_bal_for_invst_income_alloc" type="xs:decimal" />
        <xs:element name="alloc1_factor" type="xs:decimal" />
        <xs:element name="total_invst_income_accounting" type="xs:decimal" />
        <xs:element name="admin_expenses_accounting" type="xs:decimal" />
        <xs:element name="net_invst_income_for_allocations" type="xs:decimal" />
        <xs:element name="weighted_average_accounting" type="xs:decimal" />
        <xs:element name="invs_income_pro_ration_alloc1" type="xs:decimal" />
        <xs:element name="invs_income_alloc1" type="xs:decimal" />
        <xs:element name="invs_income_alloc2and4" type="xs:decimal" />
        <xs:element name="invs_income_pro_ration_alloc2" type="xs:decimal" />
        <xs:element name="invs_income_pro_ration_alloc4" type="xs:decimal" />
        <xs:element name="late_ineligible_hours" type="xs:decimal" />
        <xs:element name="late_ineligible_contrb" type="xs:decimal" />
        <xs:element name="current_ineligible_hours" type="xs:decimal" />
        <xs:element name="current_ineligible_contrb" type="xs:decimal" />
        <xs:element name="total_frft_amt_alloc2" type="xs:decimal" />
        <xs:element name="alloc2_frft_factor" type="xs:decimal" />
        <xs:element name="eligible_hours" type="xs:decimal" />
        <xs:element name="hourly_contributions" type="xs:decimal" />
        <xs:element name="invst_income_alloc2" type="xs:decimal" />
        <xs:element name="alloc2_invst_factor" type="xs:decimal" />
        <xs:element name="alloc2_flat_factor" type="xs:decimal" />
        <xs:element name="net_alloc2_factor" type="xs:decimal" />
        <xs:element name="late_ineligible_comp" type="xs:decimal" />
        <xs:element name="current_inelibile_comp" type="xs:decimal" />
        <xs:element name="overlimit" type="xs:decimal" />
        <xs:element name="total_frft_amount_alloc4" type="xs:decimal" />
        <xs:element name="alloc4_frft_factor" type="xs:decimal" />
        <xs:element name="percent_comp" type="xs:decimal" />
        <xs:element name="invst_income_alloc4" type="xs:decimal" />
        <xs:element name="alloc4_invst_factor" type="xs:decimal" />
        <xs:element name="net_alloc4_factor" type="xs:decimal" />
        <xs:element name="ending_bal_alloc_active" type="xs:decimal" />
        <xs:element name="actual_contrb_recvd" type="xs:decimal" />
        <xs:element name="current_year_ending_balance" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
