slnMPIPHP/NeoSpinMVVM/Reports/XSD Definition/rptIAPAnnualDetalVsSummary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptIAPAnnualDetalVsSummary"
    targetNamespace="http://tempuri.org/rptIAPAnnualDetalVsSummary.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptIAPAnnualDetalVsSummary.xsd"
    xmlns:mstns="http://tempuri.org/rptIAPAnnualDetalVsSummary.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="description" type="xs:string" />
        <xs:element name="details_amount" type="xs:decimal" />
        <xs:element name="summary_amount" type="xs:decimal" />
        <xs:element name="diff_amount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
