slnMPIPHP/NeoSpinMVVM/Reports/XSD Definition/rptIAPAnnualOverlimit.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptIAPAnnualOverlimit"
    targetNamespace="http://tempuri.org/rptIAPAnnualOverlimit.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptIAPAnnualOverlimit.xsd"
    xmlns:mstns="http://tempuri.org/rptIAPAnnualOverlimit.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="mpi_person_id" type="xs:string" />
        <xs:element name="participant_name" type="xs:string" />
        <xs:element name="employer_id" type="xs:int" />
        <xs:element name="employer_name" type="xs:string" />
        <xs:element name="computation_year" type="xs:int" />
        <xs:element name="total_contribution_amount" type="xs:decimal" />
        <xs:element name="contribution_limit" type="xs:decimal" />
        <xs:element name="excess_contribution_amount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
