slnMPIPHP/NeoSpinMVVM/Reports/XSD Definition/rptIAPAnnualFinancial.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptIAPAnnualFinancial"
    targetNamespace="http://tempuri.org/rptIAPAnnualFinancial.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptIAPAnnualFinancial.xsd"
    xmlns:mstns="http://tempuri.org/rptIAPAnnualFinancial.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="allocation_year" type="xs:int" />
        <xs:element name="accounting_start_date" type="xs:date" />
        <xs:element name="accounting_end_date" type="xs:date" />
        <xs:element name="plan_year_start_date" type="xs:date" />
        <xs:element name="plan_year_end_date" type="xs:date" />
        <xs:element name="prev_year_total_assets_frm_accounting" type="xs:decimal" />
        <xs:element name="prev_year_total_assets_frm_system" type="xs:decimal" />
        <xs:element name="prev_year_unallocable_amount" type="xs:decimal" />
        <xs:element name="iap_hourly_frm_accounting" type="xs:decimal" />
        <xs:element name="iap_hourly_frm_system" type="xs:decimal" />
        <xs:element name="iap_percent_frm_accounting" type="xs:decimal" />
        <xs:element name="iap_percent_frm_system" type="xs:decimal" />
        <xs:element name="invst_income" type="xs:decimal" />
        <xs:element name="admin_exp_frm_accounting" type="xs:decimal" />
        <xs:element name="payouts" type="xs:decimal" />
        <xs:element name="current_yr_overlimit" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
